* {
    background:   #f6fff9;
    foreground:   #34494a;
    black:        #e8f0f0;
    red:          #c42d2f;
    green:        #1a870f;
    yellow:       #a45f22;
    blue:         #375cc6;
    white:        #34494a;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
