* {
    background:   #161821;
    foreground:   #d2d4de;
    black:        #161821;
    red:          #e27878;
    green:        #b4be82;
    yellow:       #e2a478;
    blue:         #84a0c6;
    white:        #c6c8d1;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
