[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
file-types = ["py"]
formatter = {command = "bash", args = ["-c", "ruff check --fix - | ruff format -"]}
auto-format = true

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]
except-features = ["format", "code-action"]

[language-server.basedpyright.config.basedpyright.analysis]
autoSearchPaths = true
typeCheckingMode = "basic"
diagnosticMode = "openFilesOnly"

[language-server.ruff]
command = "ruff"
args = ["server"]
