* {
    background:   #fcffff;
    foreground:   #232323;
    black:        #eaefef;
    red:          #c42d2f;
    green:        #008a00;
    yellow:       #aa6100;
    blue:         #004fc0;
    white:        #232323;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
