* {
    background:   #303446;
    foreground:   #C6D0F5;
    black:        #51576D;
    red:          #E78284;
    green:        #A6D189;
    yellow:       #E5C890;
    blue:         #8CAAEE;
    white:        #B5BFE2;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
