* {
    background:   #322023;
    foreground:   #e4d3e1;
    black:        #432e32;
    red:          #ff707f;
    green:        #5fbb5f;
    yellow:       #e4c53f;
    blue:         #57aff6;
    white:        #e4d3e1;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
