* {
    background:   #fdf6e3;
    foreground:   #5c6a72;
    black:        #5c6a72;
    red:          #f85552;
    green:        #8da101;
    yellow:       #dfa000;
    blue:         #3a94c5;
    white:        #e0dcc7;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
