* {
    background:   #EFF1F5;
    foreground:   #4C4F69;
    black:        #5C5F77;
    red:          #D20F39;
    green:        #40A02B;
    yellow:       #DF8E1D;
    blue:         #1E66F5;
    white:        #ACB0BE;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
