* {
    background:   #1c1c1c;
    foreground:   #808080;
    black:        #1c1c1c;
    red:          #af005f;
    green:        #5faf00;
    yellow:       #d7af5f;
    blue:         #5fafd7;
    white:        #d0d0d0;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
