* {
    background:   #f3eddf;
    foreground:   #4f204f;
    black:        #e5d6d4;
    red:          #ba2d2f;
    green:        #007a0a;
    yellow:       #87591f;
    blue:         #375cc6;
    white:        #4f204f;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
