@import url("theme.css");

* {
  font-size: 16px;
  font-family: "IosevkaTerm Nerd Font";
}

window#waybar {
  all: unset;
  color: @base07;
  background-color: transparent;
}


.modules-left {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 10px;
  background-color: alpha(@base00, 0.9);
}

#window {
  margin: 0;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  background-color: alpha(@base00, 0.9);
  border-radius: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
  margin: 0;
  margin-top: 4px;
  margin-right: 10px;
  padding: 5px;
  background-color: alpha(@base00, 0.9);
  border-radius: 10px;
}

tooltip {
  background: @base00;
  color: @base07;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: @base07;
}
#custom-notification {
  padding: 0px 5px;
  color: @base07;
}
#clock {
  padding: 0px 5px;
  color: @base07;
}
#custom-pacman {
  padding: 0px 5px;
  color: @base07;
}
#workspaces {
  padding: 0px 5px;
}
#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@base07, 0.6);
}
#workspaces button:hover {
  color: @base07;
  border: none;
}
#workspaces button.focused {
  color: @base07;
  border: none;
}
#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
}
#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
}
#workspaces button.empty.focused {
  color: @base07;
  border: none;
}
#bluetooth {
  padding: 0px 5px;
  color: @base07;
}
#network {
  padding: 0px 5px;
  color: @base07;
}
#battery {
  padding: 0px 5px;
  color: @base07;
}
#battery.charging {
  color: @base0B;
}

#battery.warning:not(.charging) {
  color: @base09;
}

#battery.critical:not(.charging) {
  color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding: 0px 5px;
}

#tray menu * {
  padding: 0px 5px;
}

#tray menu separator {
  padding: 0px 5px;
}
