* {
    background:   #131c2b;
    foreground:   #eaedef;
    black:        #1d2c39;
    red:          #ff6f6f;
    green:        #41bf4f;
    yellow:       #d0d24f;
    blue:         #57b0ff;
    white:        #eaedef;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
