* {
    background:   #fff5ea;
    foreground:   #584141;
    black:        #f2e9db;
    red:          #ba2d2f;
    green:        #007a0a;
    yellow:       #a45a22;
    blue:         #375cc6;
    white:        #584141;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
