* {
    background:   #fff7f7;
    foreground:   #201f36;
    black:        #efe7e7;
    red:          #b00234;
    green:        #217a3c;
    yellow:       #9a6012;
    blue:         #3c3bbe;
    white:        #201f36;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
