* {
    background:   #FCFCFC;
    foreground:   #5C6166;
    black:        #010101;
    red:          #e7666a;
    green:        #80ab24;
    yellow:       #eba54d;
    blue:         #4196df;
    white:        #c1c1c1;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
