* {
    background:   #0f0e06;
    foreground:   #cfbcba;
    black:        #26211d;
    red:          #ef656a;
    green:        #2fa526;
    yellow:       #c48702;
    blue:         #379cf6;
    white:        #cfbcba;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
