* {
    background:   #0A0E14;
    foreground:   #B3B1AD;
    black:        #01060E;
    red:          #EA6C73;
    green:        #91B362;
    yellow:       #F9AF4F;
    blue:         #53BDFA;
    white:        #C7C7C7;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
