* {
    background:   #000e17;
    foreground:   #afbcbf;
    black:        #1a202b;
    red:          #ef656a;
    green:        #1fa526;
    yellow:       #c48502;
    blue:         #379cf6;
    white:        #afbcbf;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
