* {
    background:   #181616;
    foreground:   #c5c9c5;
    black:        #0d0c0c;
    red:          #c4746e;
    green:        #8a9a7b;
    yellow:       #c4b28a;
    blue:         #8ba4b0;
    white:        #c8c093;
    // Bold, Italic, Underline
    highlight:    underline bold;
}
